body {
  display: flex;
  align-items: center;
  justify-content: center;
}
body #campo_util {
  width: 1333px;
  height: 781px;
  flex-shrink: 0;
  padding: 40px;
  display: grid;
  grid-template-rows: repeat(4, auto);
  border-radius: 45px;
  border: 3px solid var(--contorno, #dcdcdc);
}
body #campo_util .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
body #campo_util .header .campo_busca {
  display: flex;
  width: 353px;
  height: 35px;
  padding: 13px 21px;
  align-items: center;
  justify-content: space-between;
  border-radius: 49px;
  border: 3px solid var(--contorno, #dcdcdc);
}
body #campo_util .header .campo_busca p {
  color: var(--subtitulo, rgba(0, 0, 0, 0.33));
  font-family: Noto Sans;
  font-size: 18.382px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.471px;
}
body #campo_util .cabecalho {
  flex-shrink: 0;
}
body #campo_util .cabecalho h1 {
  color: #000;
  /* header */
  font-family: Oswald;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
body #campo_util .cabecalho h2 {
  color: var(--subtitulo, rgba(0, 0, 0, 0.33));
  /* subtitle */
  font-family: Noto Sans;
  font-size: 18.382px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
body #campo_util .cabecalho .linha {
  width: 149px;
  height: 0px;
  flex-shrink: 0;
  stroke-width: 2px;
  stroke: rgba(0, 0, 0, 0.33);
}
body #campo_util .centro_modais p {
  color: var(--subtitulo, rgba(0, 0, 0, 0.33));
  /* subtitle */
  font-family: Noto Sans;
  font-size: 18.382px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
body #campo_util .centro_modais .centro_modais__models {
  display: flex;
  justify-content: space-between;
}
body #campo_util .centro_modais .centro_modais__models .modal1 {
  width: 380px;
  height: 151px;
  border-radius: 44px;
  background: #295aa6;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}
body #campo_util .centro_modais .centro_modais__models .modal1 h1 {
  color: #fff;
  /* header */
  font-family: Oswald;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
}
body #campo_util .centro_modais .centro_modais__models .modal1 h2 {
  color: rgba(255, 255, 255, 0.33);
  /* subtitle */
  font-family: Noto Sans;
  font-size: 18.382px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}
body #campo_util .centro_modais .centro_modais__models .modal1 img {
  width: 77px;
  height: 77px;
  flex-shrink: 0;
}
body #campo_util .centro_modais .centro_modais__models .modal2 {
  width: 380px;
  height: 151px;
  border-radius: 44px;
  background: #ffc102;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}
body #campo_util .centro_modais .centro_modais__models .modal2 h1 {
  color: #fff;
  /* header */
  font-family: Oswald;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
}
body #campo_util .centro_modais .centro_modais__models .modal2 h2 {
  color: rgba(255, 255, 255, 0.33);
  /* subtitle */
  font-family: Noto Sans;
  font-size: 18.382px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}
body #campo_util .centro_modais .centro_modais__models .modal2 img {
  width: 77px;
  height: 77px;
  flex-shrink: 0;
}
body #campo_util .centro_modais .centro_modais__models .modal3 {
  width: 380px;
  height: 151px;
  border-radius: 44px;
  background: #c6202c;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}
body #campo_util .centro_modais .centro_modais__models .modal3 h1 {
  color: #fff;
  /* header */
  font-family: Oswald;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 0;
}
body #campo_util .centro_modais .centro_modais__models .modal3 h2 {
  color: rgba(255, 255, 255, 0.33);
  /* subtitle */
  font-family: Noto Sans;
  font-size: 18.382px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}
body #campo_util .centro_modais .centro_modais__models .modal3 img {
  width: 77px;
  height: 77px;
  flex-shrink: 0;
}
body #campo_util .tabela {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
body #campo_util .tabela p {
  color: var(--subtitulo, rgba(0, 0, 0, 0.33));
  font-family: Noto Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
body #campo_util .tabela .tabela__header {
  width: auto;
  height: 69px;
  flex-shrink: 0;
  border-radius: 100px;
  border: 2px solid var(--contorno, #dcdcdc);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
body #campo_util .tabela .tabela__header h1 {
  color: #000;
  /* lista titulo */
  font-family: Oswald;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
body #campo_util .tabela .tabela__header .tabela__header__valor {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
body #campo_util .tabela .tabela__baixo {
  width: auto;
  height: 69px;
  flex-shrink: 0;
  border: 2px solid var(--contorno, #dcdcdc);
  display: flex;
  align-items: center;
  justify-content: center;
}
body #campo_util .tabela .tabela__baixo h2 {
  color: #000;
  /* subtitle */
  font-family: Noto Sans;
  font-size: 18.382px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}/*# sourceMappingURL=style.css.map */